body {
  text-align: center;
  margin: 0;
}

main {
  width: 850px;
  margin: 35px auto;
}

header {
  background-color: #f15b31;
  padding: 30px 20px 30px 20px;
}

nav {
  background-color: #00a6b3;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
  margin: 0;
}
a {
  font-family: "Raleway", sans-serif;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 20px 0 20px;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-bottom: 2px solid white;
}

h2 {
  font-family: "Raleway", sans-serif;
  color: #0d2c40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
p {
  font-family: "Droid Serif", sans-serif;
  line-height: 26px;
  font-size: 18px;
}

img {
  margin: 40px 8px 0 8px;
}

footer {
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0D2C40;
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}

.copywrite {
  font-family: "Raleway", sans-serif;
  float: left;
}

.message {
  font-family: "Raleway", sans-serif;
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.name {
  color: #F15B31;
  font-weight: 700;
}

button {
  font-family: "Raleway", sans-serif;
  background: #f15b31;
  color: white;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 10px 20px 10px 20px;
  border-style: none;
}
